body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
    font-family: 'Rubik Wet Paint', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.55em;
    margin: 0;
}

p {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin: 0;
}